# Ignore backups.
*~

# Ignore select directories.
__pycache__/
.ipynb_checkpoints/

# Ignore select files.

# Ignore .pyc files.
*.pyc

# Ignore backup files.
\#*#
*.bak

# Ignore pip install build files.
build/
*.egg-info/
*/_version.py

# Ignore .h5 data files.
*.h5

# Ignore most .ipynb files.
*.ipynb
!basic_usage.ipynb